.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bfa977;
  color: black;
}
.App-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: calc(10px + 1vmin);
}

.App-header-logo {
  padding-left: 40px
}

.App-header-links {
  display: flex;
  list-style-type: none;
  padding-right: 40px;
  font-size: 16px
}

  li {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

.Home {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

  .logo {
    margin-top: 20px;
    background-color: #eee3d7;
  }

  .tiles {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
  }
  
  .tile {
    padding: 10px;
    height: 350px;
    width: 350px;
    background-color: #eee3d7
  }