.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: black;
}
.App-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: calc(10px + 1vmin);
}

.App-header-logo {
  padding-left: 40px
}

.App-header-links {
  display: flex;
  list-style-type: none;
  padding-right: 40px;
  font-size: 16px
}

  li {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
